<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Для голосующих
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
            Etiam vel fermentum sed in feugiat urna. Massa sem augue risus congue
            ornare sit. Neque tellus eget phasellus adipiscing dignissim nibh nunc
            lacus.
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/voting#start">
        Проголосовать
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Vote.jpg');"></div>
    </div>
</div>

@code {

}
