.page-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    gap: 1rem;
}

.click-cursor {
    cursor: pointer;
}