.block-info,
.block-info * {
  box-sizing: border-box;
}

.title-direction {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-direction {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.block-info {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin-top: 1rem;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 1rem;
}
.block-about-yourself {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 1rem;
    gap: 40px;
}
.rightside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
}
.content-title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.brief-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.line {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.place-of-work {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.div2 {
  color: #555555;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.job {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.education {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.academic-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.academic-degree {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.leftside {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 305px;
  position: relative;
}
.photo {
  background: #7a78fc;
  align-self: stretch;
  flex-shrink: 0;
  height: 353px;
  position: relative;
}
.achieves {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.achiev-card {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 330px;
    position: relative;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.achiev-card-text {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
}

@media (max-width: 992px) {      
    .title-direction {
        flex-direction: column-reverse;
    }
    .text-direction {
        margin-left: auto;
        margin-right: 0;
    }
    .block-info {
        flex-direction: row-reverse;
        gap: 20px
    }
    .achiev-card {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .block-info {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}