@page "/feedback"
@rendermode InteractiveAuto

<PageTitle>Обратная связь </PageTitle>

<div class="block-title">
    <div class="block-title-text">
        Обратная связь
    </div>
</div>
<div class="block-group">
    <div class="block">
        <div class="block-content">
            <div class="title-page">Задать вопрос</div>
            <div class="discription-page">Здесь вы можете оставить нам сообщение</div>
        </div>
    </div>
    <div class="block">
        <EditForm EditContext="@_editContext" OnValidSubmit="HandleOnValidSubmit" class="w-100">
            <DataAnnotationsValidator />
            <div class="form-block">
                <div class="form-content">
                    <label class="col-md-2 form-content-title">Ваше имя</label>
                    <div class="form-input w-100">
                        <ValidationMessage For="@(() => customer.Name)" />
                        <InputText class="form-control" @bind-Value="customer.Name" />
                    </div>
                </div>
                <div class ="form-content">
                    <label class="col-md-2 form-content-title">Электронная почта</label>
                    <div class="form-input w-100">
                        <ValidationMessage For="@(() => customer.Address)" />
                        <InputText class="form-control" @bind-Value="customer.Address" />
                    </div>
                </div>
                <div class="form-content-col">
                    <label class="col-md-2 form-content-title">Ваше сообщение</label>
                    <div class="form-input w-100">
                        <ValidationMessage For="@(() => customer.Message)" />
                        <InputTextArea class="form-control" @bind-Value="customer.Message" />
                    </div>
                </div>
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Class="float-end">Отправить</Button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Customer customer = new();
    private EditContext? _editContext;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(customer);
        base.OnInitialized();
    }

    public void HandleOnValidSubmit()
    {
        Console.WriteLine($"Пользователь {customer.Name}, с электронной почтой {customer.Address} отправил сообщение: \"{customer.Message}\"");
    }

    public class Customer
    {
        [Required(ErrorMessage = "Укажите Ваше имя")]
        public string? Name { get; set; } = default;

        [Required(ErrorMessage = "Укажите Ваш E-mail")]
        [EmailAddress(ErrorMessage = "Указаан некорректный адрес электронной почты")]
        public string? Address { get; set; } = default;

        [Required(ErrorMessage = "Напишите сообщение поддержке сайта")]
        [StringLength(1000, ErrorMessage = "Длина сообщения должна составлять не менее {2} и не более {1} символов.", MinimumLength = 20)]
        public string? Message { get; set; } = default; 
    }
}
