@page "/formsuccess"
@using ProfessorOfTheYear.Client.Model
@inject NavigationManager NavigationManager
@rendermode RenderMode.InteractiveAuto

<PageTitle>Успех</PageTitle>

<h1>Ваша заявка успешно отправлена</h1>
<h1>Следить за ее статусом можно в личном кабинете</h1>




@code {

}