@page "/"

<PageTitle>Педагог года 2025</PageTitle>

<div class="blocks">
    <div class="intro-background">
        <div class="container intro">
            <div class="intro-title">Педагог года 2025</div>
            <div class="intro-text">
                Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
                Etiam vel fermentum sed in feugiat urna.
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            <div class="block-title-text">
                О конкурсе
            </div>
        </div>

        @* Добавить блок с этапами конкурса *@

        <div class="block-content">
            <div class="block-content-text">
                Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
                Etiam vel fermentum sed in feugiat urna. Massa sem augue risus congue
                ornare sit. Neque tellus eget phasellus adipiscing dignissim nibh nunc
                lacus.
            </div>
        </div>
        <Button 
            Type="ButtonType.Button"
            Color="ButtonColor.Primary">
                Узнать больше
        </Button>
        <div class="block-content">
            <div class="block-content-photo"></div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            <div class="block-title-text">
                Для голосующих
            </div>
        </div>
        <div class="block-content">
            <div class="block-content-text">
                Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
                Etiam vel fermentum sed in feugiat urna. Massa sem augue risus congue
                ornare sit. Neque tellus eget phasellus adipiscing dignissim nibh nunc
                lacus.
            </div>
        </div>
        <Button 
            Type="ButtonType.Button" 
            Color="ButtonColor.Primary">
                Проголосовать
        </Button>
        <div class="block-content">
            <div class="block-content-photo"></div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            <div class="block-title-text">
                Для участников
            </div>
        </div>
        <div class="block-content">
            <div class="block-content-text">
                Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
                Etiam vel fermentum sed in feugiat urna. Massa sem augue risus congue
                ornare sit. Neque tellus eget phasellus adipiscing dignissim nibh nunc
                lacus.
            </div>
        </div>
        <Button 
            Type="ButtonType.Button" 
            Color="ButtonColor.Primary">
                Подать заявку на участие
        </Button>
        <div class="block-content">
            <div class="block-content-photo"></div>
        </div>
    </div>
</div>