.blocks {
    display:flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.intro {
    height: 750px;
    display: flex;
    flex-direction: column;
    position:relative;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.intro-background {
    width: 100vw;
    position: relative;
    background-image: url("img/IntroBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-title {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: 96px;
    font-weight: 800;
    position: relative;
    align-self: stretch;
}

.intro-text {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.block-title {
    text-align:left;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 2px 0px 2px 0px;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.block-title-text {
    color: #000000;
    text-align: left;
    font-family: "Inter-ExtraBold", sans-serif;
    font-size: 48px;
    font-weight: 800;
    position: relative;
    align-self: stretch;
}

.block-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.block-content-text {
    text-align: left;
    position: relative;
    align-self: stretch;
}

.block-content-photo {
    background: #d0d0d0;
    align-self: stretch;
    flex-shrink: 0;
    height: 300px;
    position: relative;
}
}