@page "/"

<PageTitle>Педагог года 2025</PageTitle>

<div class="block-group">
    <div class="intro-background">
        <div class="container intro">
            <div class="intro-title">Педагог года 2025</div>
            <div class="intro-text">
                Lorem ipsum dolor sit amet consectetur. Dui lectus interdum cras morbi.
                Etiam vel fermentum sed in feugiat urna.
            </div>
        </div>
    </div>

    <ContestInfo />

    <VotingInfo />

    <ParticipantInfo />
</div>