@page "/personalaccount"
@rendermode InteractiveAuto
@inject IDataServiceTeaching databaseinformation
<PageTitle>Personal Account</PageTitle>

<h1>Base Information Details</h1>

@if (baseInformation != null && baseInformation.Any())
{
    <ul>
        @foreach (var item in baseInformation)
        {
            <li>ID: @item.ID, NameWork: @item.NameWork, FullName: @item.FullName</li>
        }
    </ul>
}
else
{
    <p>No base information available.</p>
}

@code {
    List<DataTeachingDTO.BaseInformation> baseInformation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        baseInformation = await databaseinformation.GetAllAsync();
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
