@page "/voting/category"
@rendermode InteractiveServer
@inject ProfessorsDataService pds
@inject NavigationManager navigate

<PageTitle>Голосование</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="title-direction" >
                <div class="block-title-text">Название категории</div>
                <div class="text-direction">
                    <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="async () => await Back()" type="button" />
                </div>
            </div>
            <div class="block-content-text">
                Выберите кандидата для голосования
            </div>
        </div>

        <div class="page-content">
            @if (professors == null)
            {
                <p>Loading...</p>
            } 
            else 
            {
                @foreach (var professor in professors)
                {
                    <TeacherCard
                        professorInfo="professor"
                    />
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ProfessorInfo>? professors { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        professors = await pds.GetAllProfessorsAsync();
    }

    async Task Back()
    {
        await Task.Run(() => navigate.NavigateTo("/voting"));
    }
}