@page "/voting/category/teacher/{Id}"
@rendermode InteractiveServer
@inject ProfessorsDataService pds
@inject NavigationManager navigate

<PageTitle>Голосование</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="title-direction">
                <div class="block-title-text">@professorInfo!.Name</div>
                <div class="text-direction">
                    <div class="brief-title">Количество голосов: 123</div>
                    <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="NavToBack" type="button" />
                </div>
            </div>
        </div>
        <div class="row block-info block-content ">
            <div class="rightside">
                <div class="brief-info">
                    <div class="row w-100">
                        <div class="col-6">
                            <div class="brief-title">Место работы</div>
                            <div class="brief-text">@professorInfo.EducationalInstitution</div>
                        </div>
                        <div class="col-6">
                            <div class="brief-title">Должность</div>
                            <div class="brief-text">Доцент</div>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-6">
                            <div class="brief-title">Стаж</div>
                            <div class="brief-text">20 лет</div>
                        </div>
                        <div class="col-6">
                            <div class="brief-title">Образование</div>
                            <div class="brief-text">Высшее образование</div>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-6">
                            <div class="brief-title">Учёное звание (при наличии)</div>
                            <div class="brief-text">Профессор</div>
                        </div>
                        <div class="col-6">
                            <div class="brief-title">Учёная степень (при наличии)</div>
                            <div class="brief-text">@professorInfo.AcademicDegree</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leftside">
                <div class="photo"></div>
                <Button class="btn btn-primary w-100">Проголосовать</Button>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            <div class="block-title-text">О себе</div>
        </div>
        <div class="block-content">
            <div class="block-content-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni aliquam labore recusandae suscipit tempore eos, id quam! Minima amet aliquam nihil asperiores facere, perferendis velit rem ducimus officia aspernatur!
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            <div class="block-title-text">Достижения</div>
        </div>
        <div class="achieves">
            @for (int i = 0; i < 6; i++)
            {
                <div class="achiev-card">
                    <div class="brief-text">
                        Организовала и провела свыше 40 студенческих научных конференций.
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    ProfessorInfo? professorInfo { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            ProfessorInfo professor = await pds.GetProfessorAsync(Id);
            professorInfo!.Id = professor.Id;
            professorInfo!.Name = professor.Name;
            professorInfo!.EducationalInstitution = professor.EducationalInstitution;
            professorInfo!.AcademicDegree = professor.AcademicDegree;
        }
    }

    private void NavToBack()
    {
        navigate.NavigateTo("/voting/category");
    }
}