@* @if (_teachers is not null) { *@
<div class="card-form">
    <div class="professor-avatar"></div>
    <div class="description">
        <div class="div">Иванов Иван Иванович</div>
        <div class="institution">
            <div class="div2">Учебное заведение:</div>
            <div class="div3">Высшая школа цифровых технологий</div>
        </div>
        <div class="degree">
            <div class="div2">Ученая степень:</div>
            <div class="div3">Кандидат педагогических наук</div>
        </div>
    </div>
</div>

@code {
}