@page "/form-success"

@attribute [Authorize]

<PageTitle>Успех</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="block-title-text">Ваша заявка успешно отправлена</div>
            <div class="block-subtitle-text">Следить за ее статусом можно в личном кабинете</div>
        </div>
        <Button Type="ButtonType.Link"
                Color="ButtonColor.Primary"
                To="/Account/Manage#start">
            В личный кабинет
        </Button>
    </div>
</div>