@page "/Account/ParticipantEditForm"

<PageTitle>Форма редактирования анкеты</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="block-title-text">
                Заполните анкету
            </div>
        </div>

        <div class="block-content block-content-border">
            <div class="block-subtitle-text">
                Фото
            </div>
            <div class="photo"></div>
            <div class="input-group mb-3">
                <InputFile class="form-control" id="inputGroupFile02" style="width: 200px;"></InputFile>
            </div>
        </div>
        <div class="block-content block-content-border">
            <div class="block-subtitle-text">
                Информация о вас
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">ФИО</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите данные в именительном падеже" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Место работы</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите нынешнее место работы" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Должность</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите ненышнюю должность" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Стаж</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите ненышнюю должность" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Образование</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите ненышнюю должность" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Учёное звание (при наличии)</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите ненышнюю должность" />
            </div>

            <div class="w-100 mb-2">
                <div class="block-content-text mb-2">Учёная степень (при наличии)</div>
                @* <ValidationMessage For="() => Input.Email" class="text-danger" /> *@
                <InputText @bind-Value="Name" class="form-control" placeholder="Введите ненышнюю должность" />
            </div>
        </div>

        <div class="block-content block-content-border">
            <div class="block-subtitle-text">
                О себе
            </div>
            <div class="w-100 mb-2">
                <InputText @bind-Value="Name" class="form-control" placeholder="Расскажите немного о себе" />
            </div>
        </div>

        <div class="block-content block-content-border">
            <div class="block-subtitle-text">
                Достижения
            </div>
        </div>

        <div class="block-content block-content-border">
            <div class="block-subtitle-text">
                Документы
            </div>
            <div class="input-group mb-3">
                <InputFile class="form-control" id="inputGroupFile02" style="width: 200px;"></InputFile>
            </div>
        </div>

        <div class="d-flex flex-row mb-2 gap-2">
            <Button Type="ButtonType.Link"
                    Color="ButtonColor.Primary"
                    Outline="true"
                    To="#">
                Сохранить
            </Button>
            <Button Type="ButtonType.Link"
                    Color="ButtonColor.Primary"
                    To="#">
                Отправить
            </Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; } = string.Empty;
}
