<footer class="w-100 py-4 flex-shrink-0">
    <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-md-4 col-sm-12">
                <h5 class="text-white mb-3">Контакты</h5>
                <ul class="list-unstyled small text-white">
                    <li class="mb-2">Lorem ipsum dolor sit amet,</li>
                    <li class="mb-2">Consectetur adipisicing elit,</li>
                    <li class="mb-2">Sed do eiusmod tempor incididunt.</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5 class="text-white mb-3">Навигация</h5>
                <ul class="list-unstyled small text-white">
                    <li class="mb-2"><a href="/">Главная</a></li>
                    <li class="mb-2"><a href="/voting">Голосование</a></li>
                    <li class="mb-2"><a href="/about">О конкурсе</a></li>
                    <li class="mb-2"><a href="/feedback">Обратная связь</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5 class="text-white mb-3">Соцсети</h5>
                <ul class="list-unstyled small text-white">
                    <li class="mb-2">Lorem ipsum dolor sit amet,</li>
                    <li class="mb-2">Consectetur adipisicing elit,</li>
                    <li class="mb-2">Sed do eiusmod tempor incididunt.</li>
                </ul>
            </div>
        </div>
        <p class="small text-white mb-0">&copy; Copyrights. All rights reserved.</p>
    </div>
</footer>