@inherits LayoutComponentBase

<NavMenu />

<body>
    <div class="container">
        <div class="start" id="start"></div>
        @Body
    </div>
</body>

<Footer />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
