.navbar, .navbar-expand-md {
    background-color: #1B51BA; 
    padding: 10px 80px; 
    font-size: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    margin: 0; 
    padding: 0;
}

.navbar-nav {
    padding: 0 40px;
}

.navbar {
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #fff;
    --bs-navbar-active-color: #fff;
}

.nav-underline {
    --bs-nav-underline-gap: 40px;
}

.nav-buttons {
    gap: 20px;
    padding: 0;
}

.min-logo {
    width: 168px; 
    height: 40px;
}
