.navbar, .navbar-expand-md {
    background-color: #1B51BA; 
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    margin: 0; 
    padding: 0;
}

.navbar-nav {
    padding: 0;
}

.navbar {
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #fff;
    --bs-navbar-active-color: #fff;
}

@media (max-width: 768px) {
    .nav-underline { /*Стиль для кнопок в навигации*/
        text-align: center;
        margin: 0;
    }

    .nav-buttons {
       justify-content: center; 
    }
}