@page "/Account/AccessDenied"

<PageTitle>Отказано в доступе</PageTitle>

<div class="form-layout">
    <p class="form-title text-danger">Отказано в доступе</p>
    <div class="text-center text-danger">У вас нет доступа к этому ресурсу.</div>
</div>
