@page "/Account/ForgotPasswordConfirmation"

@layout ProfessorOfTheYear.Client.Layout.AuthLayout

<PageTitle>Подтверждение восстановления пароля</PageTitle>

<div class="form-layout">
    <p class="form-title">Подтверждение восстановления пароля</p>
    <div class="text-center">Пожалуйста, проверьте свою электронную почту для сброса пароля.</div>
</div>