@page "/Account/ForgotPasswordConfirmation"

@layout ProfessorOfTheYear.Client.Layout.AuthLayout

<PageTitle>Forgot password confirmation</PageTitle>

<div class="form-layout">
    <p class="form-title">Forgot password confirmation</p>
    <p>
        Please check your email to reset your password.
    </p>
</div>