@page "/Account/InvalidPasswordReset"

<PageTitle>Неудачный сброс пароля</PageTitle>

<div class="form-layout">
    <p class="form-title">Неудачный сброс пароля</p>
    <div class="text-center">Ссылка для сброса пароля неверна.</div>
</div>
