@page "/Account/InvalidUser"

@layout ProfessorOfTheYear.Client.Layout.AuthLayout

<PageTitle>Недопустимый пользователь</PageTitle>

<div class="form-layout">
    <p class="form-title">Недопустимый пользователь</p>

    <StatusMessage />
</div>