@page "/Account/Lockout"

<PageTitle>Доступ заблокирован</PageTitle>

<div class="form-layout">
    <p class="form-title">Доступ заблокирован</p>
    <div class="text-center">Этот аккаунт был заблокирован, пожалуйста, попробуйте позже.</div>
</div>
