@page "/Account/ResetPasswordConfirmation"

<PageTitle>Подтверждение сброса пароля</PageTitle>

<div class="form-layout">
    <p class="form-title">Подтверждение сброса пароля</p>
    <div class="text-center">Ваш пароль успешно сброшен. Пожалуйста,<a href="Account/Login">нажмите здесь</a>, чтобы войти.</div>
</div>
