<div class="category-card" type="button" @onclick="async () => await ViewInfoHandler()">
  <div class="category-description">
    <div class="category-title">Название категории</div>
    <div class="category-text">
      Lorem ipsum dolor sit amet consectetur. Sodales dignissim ut euismod
      pellentesque. Pellentesque quam arcu blandit elementum cras ipsum mauris.
      Faucibus egestas ullamcorper eu et cursus. Enim a eget sit ac eu nisi
      integer sit malesuada.
    </div>
  </div>
</div>

@code {
    [Parameter]
    public EventCallback ViewInfo { get; set; }

    async Task ViewInfoHandler()
    {
        await ViewInfo.InvokeAsync();
    }
}