@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <div class="block-title-text">Управляйте своим аккаунтом</div>
    @* <div class="block-title-text">Измените настройки своего аккаунта</div> *@
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
