@page "/Account/Manage/GenerateRecoveryCodes"

@using Microsoft.AspNetCore.Identity
@using ProfessorOfTheYear.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>Генерация кодов восстановления</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message" />
}
else
{
    <h3>Сгенерировать коды восстановления для двуфакторной аутентификации</h3>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Храните эти коды в надежном месте.</strong>
        </p>
        <p>
            Если вы потеряете свое устройство и у вас не будет кодов для восстановления, вы потеряете доступ к своей учетной записи.
        </p>
        <p>
            Создание новых кодов восстановления не изменяет ключи, используемые в приложениях для проверки подлинности. Если вы хотите изменить ключ,
            используемый в приложении для проверки подлинности, вам следует <a href="Account/Manage/ResetAuthenticator">сбросить ключи для проверки подлинности.</a>
        </p>
    </div>
    <EditForm FormName="generate-recovery-codes" OnValidSubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <Button 
            Type="ButtonType.Submit"
            Color="ButtonColor.Danger">
                Генерировать коды восстановления
        </Button>
    </EditForm>
}

@code {
    private string? message;
    private ApplicationUser user = default!;
    private IEnumerable<string>? recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var isTwoFactorEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        if (!isTwoFactorEnabled)
        {
            throw new InvalidOperationException("Не удается сгенерировать коды восстановления для пользователя, поскольку у него не включена двуфакторная аутентификация.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var userId = await UserManager.GetUserIdAsync(user);
        recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(user, 10);
        message = "Вы сгенерировали новые коды восстановления.";

        Logger.LogInformation("Пользователь с ID '{UserId}' сгенерировал новые коды восстановления.", userId);
    }
}
