@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using ProfessorOfTheYear.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Профиль</PageTitle>

<h3>Профиль</h3>
<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />

            <div class="form-input mb-3">
                <InputText @bind-Value="username" class="form-control" placeholder="Логин" disabled></InputText>
            </div>
            <div class="form-input mb-3">
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
                <InputText @bind-Value="Input.PhoneNumber" class="form-control" placeholder="Номер телефона" />
            </div>
            <Button 
                Type="ButtonType.Submit"
                Color="ButtonColor.Primary"
                Class="w-100">
                    Сохранить
            </Button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);

        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Ошибка: Не удалось установить номер телефона.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Ваш профиль был обновлен", HttpContext);
    }

    private sealed class InputModel
    {
        [Phone(ErrorMessage = "Введен некорректный номер телефона")]
        [Display(Name = "Номер телефона")]
        public string? PhoneNumber { get; set; }
    }
}
