@page "/Account/Manage/ParticipationStatus"

@inject NavigationManager NavManager

<PageTitle>Статус участника</PageTitle>

<h3>Статус участника</h3>
<StatusMessage />

<form @formname="SendRequest" @onsubmit="ToEditForm" class="w-100" method="post">
    <AntiforgeryToken />

    <div class="alert alert-primary" role="alert">
        Ваш текущий статус — <strong>Посетитель</strong>. Чтобы получить статус <strong>Участник</strong>, вам нужно подать заявку
        и дождаться решения администрации. Вы можете сделать это с помощью кнопки ниже.
    </div>
    <Button Type="ButtonType.Submit"
            Color="ButtonColor.Success">
        Подать заявку
    </Button>
</form>
        
<hr />

<form @formname="EditForm" @onsubmit="DeleteForm" class="w-100" method="post">
    <AntiforgeryToken />

    <div class="alert alert-secondary" role="alert">
        Заявка на участие создана и <strong>ожидает заполнения</strong>.
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/form/base-info#start">
        Продолжить заполнение
    </Button>
    <Button Type="ButtonType.Submit"
            Color="ButtonColor.Danger">
        Удалить заявку
    </Button>
</form>

<hr />

<form @formname="CancelForm" @onsubmit="DeleteForm" class="w-100" method="post">
    <AntiforgeryToken />

    <div class="alert alert-warning" role="alert">
        Заявка на участие была отправлена <strong>на рассмотрение администрацией</strong>. Пожалуйста, дождитесь решения.
    </div>
    <Button Type="ButtonType.Submit"
            Color="ButtonColor.Danger">
        Отозвать заявку
    </Button>
</form>

<hr />

<form @formname="Success" @onsubmit="DeleteForm" class="w-100" method="post">
    <AntiforgeryToken />

    <div class="alert alert-success" role="alert">
        Поздравляем! Наши эксперты одобрили вашу заявку на участие в конкурсе. Вы получаете статус <strong>Участник</strong>.
        Теперь вам доступна анкета участника конкурса. Нажмите кнопку ниже, чтобы начать заполнение.
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="Account/ParticipantEditForm">
        Заполнить анкету педагога
    </Button>
    <Button Type="ButtonType.Submit"
            Color="ButtonColor.Danger">
        Отозвать заявку
    </Button>
</form>

<hr />

<form @formname="Denied" @onsubmit="ToEditForm" class="w-100" method="post">
    <AntiforgeryToken />

    <div class="alert alert-danger" role="alert">
        К сожалению, наши специалисты <strong>отклонили заявку</strong> на ваше участие. Однако мы предоставляем возможность повторной отправки,
        поэтому внимательно изучите причину отказа. Если у вас возникнут вопросы, вы можете обратиться в службу поддержки через форму обратной связи.
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary">
        Редактировать заявку
    </Button>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary">
        Связаться с поддержкой
    </Button>
</form>

@code {
    public void ToEditForm()
    {
        NavManager.NavigateTo("/form/base-info#start");
    }

    public void DeleteForm()
    {
        NavManager.NavigateTo("/form-deleted#start");
    }
}
