@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Персональные данные</PageTitle>

<StatusMessage />
<h3>Персональные данные</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваша учетная запись содержит персональные данные, которые вы нам предоставили. На этой странице вы можете скачать или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к необратимому удалению вашей учетной записи, и восстановить ее будет невозможно.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />

            <Button 
                Type="ButtonType.Submit"
                Color="ButtonColor.Primary">
                    Скачать
            </Button>
        </form>

        <Button 
            Type="ButtonType.Link"
            Color="ButtonColor.Danger"
            To="Account/Manage/DeletePersonalData">
                Удалить
        </Button>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
