@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using ProfessorOfTheYear.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Сброс ключа аутентификации</PageTitle>

<StatusMessage />
<h3>Сброс ключа аутентификации</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если вы сбросите свой ключ аутентификации, ваше приложение аутентификации не будет работать до тех пор, пока вы не перенастроите его.</strong>
    </p>
    <p>
        Этот процесс отключает двуфакторную аутентификацию до тех пор, пока вы не подтвердите свое приложение-аутентификатор.
        Если вы не завершите настройку приложения-аутентификатора, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <Button 
            Type="ButtonType.Submit"
            Color="ButtonColor.Danger">
                Сбросить ключ
        </Button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' сбросил свой ключ для приложения-аутентификатора.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "Ваш ключ для приложения-аутентификатора был сброшен, необходимо настроить приложение с помощью нового ключа.",
            HttpContext);
    }
}
